<div class="container">
  <div class="text-center mt-5" *ngIf="loading === true">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="loading === false">
    <h3>{{ routeId > 0 ? 'Editando Movimentação' : 'Adicionando Movimentação'}}</h3>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="form-control d-flex flex-column">


      <app-date-input
        label="Data"
        frmControlName="date"
        [(form)]="transactionForm"
      />

      <app-general-input
        label="Descrição"
        fieldName="description"
        frmControlName="description"
        [(form)]="transactionForm"
      />

      <app-general-input
        label="Valor"
        fieldName="amount"
        frmControlName="amount"
        [(form)]="transactionForm"
      />

      <div class="mb-3 form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Conta"
          formControlName="transactionTypeId"
        >
          <option [ngValue]="null">Escolha um Tipo de Movimentação</option>
          <option *ngFor="let transactionType of transactionTypes" [ngValue]="transactionType.id">
            {{ transactionType.description }}
          </option>
        </select>
        <label for="floatingSelect">Tipo de Movimentação</label>
      </div>

      <div class="mb-3 form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Tipo de Conta"
          formControlName="accountId"
        >
          <option [ngValue]="null">Escolha um Tipo de Conta</option>
          <option
            *ngFor="let account of accounts"
            [ngValue]="account.id"
          >
            {{ account.description }}
          </option>
        </select>
        <label for="floatingSelect">Conta</label>
      </div>

      <div class="mb-3 form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Situação"
          formControlName="status"
        >
          <option
            *ngFor="let status of transactionStatus"
            [ngValue]="+status!"
          >
            {{ transactionStatusString[status] }}
          </option>
        </select>
        <label for="floatingSelect">Situação</label>
      </div>

      <div class="mb-3 form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Natureza"
          formControlName="nature"
        >
          <option
            *ngFor="let nature of transactionNature"
            [ngValue]="+nature!"
          >
            {{ transactionNatureString[nature] }}
          </option>
        </select>
        <label for="floatingSelect">Natureza</label>
      </div>

      <button type="submit" class="btn btn-success m-2">Salvar</button>
      <a routerLink="/transactions" class="btn btn-secondary m-2">Listagem</a>
    </form>
  </div>
</div>

<!-- <span>
  <div style="margin: 20px" *ngIf="transactionForm" >
    <div>Detalhes do form</div>
    <pre>Form válido: {{ transactionForm.valid }}</pre>
    <pre>Valores: <br>{{ transactionForm.value | json }}</pre>
  </div>
</span> -->
