.nav-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  background-color: #343a40;
  width: 280px;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.menu-toggle-button {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    width: 100%;
    position: relative;
  }

  .menu-items-d-none > * {
     display: none;
  }

  .menu-toggle-button {
    display: inline-block;
  }
}
