.nav-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  background-color: #343a40;
  width: 280px;
  height: 100%;
  position: fixed;
  z-index: 1;
}

@media (max-width: 768px) {
  .nav-menu{
    width: 100%;
    position: relative;
  }
}
