<div class="container">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
        formControlName="status"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault">Ativo</label>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Descrição</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        formControlName="description"
      />
    </div>

    <div class="mb-3">
      <label for="openingBalance" class="form-label">Saldo Inicial</label>
      <input
        type="number"
        class="form-control"
        id="openingBalance"
        name="openingBalance"
        formControlName="openingBalance"
      />
    </div>

    <div class="mb-3 form-floating">
      <select
        class="form-select"
        id="floatingSelect"
        aria-label="Banco"
        formControlName="bankId"
      >
        <option [ngValue]="null" >Escolha um Banco</option>
        <option *ngFor="let bank of banks" [ngValue]="bank.id">{{ bank.name }}</option>
      </select>
      <label for="floatingSelect">Banco</label>
    </div>

    <div class="mb-3 form-floating">
      <select
        class="form-select"
        id="floatingSelect"
        aria-label="Tipo de Conta"
        formControlName="accountTypeId"
      >
        <option [ngValue]="null" >Escolha um Tipo de Conta</option>
        <option *ngFor="let accountType of accountTypes" [ngValue]="accountType.id">{{ accountType.description }}</option>
      </select>
      <label for="floatingSelect">Tipo de Conta</label>
    </div>

    <button type="submit" class="btn btn-success m-2">Salvar</button>
    <a routerLink="/accounts" class="btn btn-secondary m-2">Listagem</a>
  </form>
</div>
