<div class="container">
  <div class="text-center mt-5" *ngIf="loading === true">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
    
  <div *ngIf="loading === false">
    <h3>{{ routeId > 0 ? 'Editando Conta' : 'Adicionando Conta'}}</h3>

    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="form-control d-flex flex-column">
      <app-switch-input
        label="Ativo"
        fieldName="status"
        frmControlName="status"
        [(form)]="accountForm"    
        class="align-self-end"
      />

      <app-general-input
        label="Descrição"        
        fieldName="description"
        frmControlName="description"
        [(form)]="accountForm"              
      />

      <app-general-input
        label="Saldo Inicial"        
        fieldName="openingBalance"
        frmControlName="openingBalance"
        [(form)]="accountForm"
      />

      <div class="mb-3 form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Banco"
          formControlName="bankId"
        >
          <option [ngValue]="null">Escolha um Banco</option>
          <option *ngFor="let bank of banks" [ngValue]="bank.id">
            {{ bank.name }}
          </option>
        </select>
        <label for="floatingSelect">Banco</label>
      </div>

      <div class="mb-3 form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Tipo de Conta"
          formControlName="accountTypeId"
        >
          <option [ngValue]="null">Escolha um Tipo de Conta</option>
          <option
            *ngFor="let accountType of accountTypes"
            [ngValue]="accountType.id"
          >
            {{ accountType.description }}
          </option>
        </select>
        <label for="floatingSelect">Tipo de Conta</label>
      </div>

      <button type="submit" class="btn btn-success m-2">Salvar</button>
      <a routerLink="/accounts" class="btn btn-secondary m-2">Listagem</a>
    </form>
  </div>
</div>
